{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}DJI Games{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Marketing website for DJI Games.">
    <meta name="author" content="Zacharia Lorenz">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
      <!-- Import Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <!-- Project specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
      <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    {% endblock css %}

    {% block angular %}
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="https://s3-us-west-2.amazonaws.com/dji-games/images/dji-games-logo.png"/>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'agenda' %}">Agenda</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">DJI Games</a></li>
                <li><a href="#">The Rules</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
            </li>
            <li><a href="#">Aeroclub</a></li>
            <li><a href="#">Signup</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    {% endif %}

    {% block content %}
      <div class="container">
        <p>Use this document as a way to quick start any new project.</p>
      </div><!--/ .container-->
    {% endblock content %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <!-- Project specific Javascript -->
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>