{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}DJI Games | World's First Broadcasted Rotorsport{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Compete in the very first dedicated aerial competition for anyone. It's an opportunity to prove your skill and win amazing prizes from DJI.">
    <meta property="og:title" content="DJI Games | World's First Broadcasted Rotorsport">
    <meta property="og:description" content="DJI is on a hunt for the best Phantom pilots on earth... We give you wings, it's up to you to take flight.">
    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/dji-games/images/dji-games-og.jpg">
    <meta name="author" content="DJI">

    <!-- Google Analytics -->
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43055594-1', 'dji.com');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
      <!-- Third-Party Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <!-- Project specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
      <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    {% endblock css %}

    {% block angular %}
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    {% endblock %}
  </head>

  <body>
    {% block nav %}
      {% include "menus/nav-main-de.html" %}
    {% endblock nav %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    {% endif %}

    {% block content %}
      <div class="container">
        <p>Use this document as a way to quick start any new project.</p>
      </div><!--/ .container-->
    {% endblock content %}

    {% block footer %}
      <!-- FOOTER
      ================================================== -->
      <section class="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 social-icons">
              <a href="https://www.facebook.com/djigames" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.twitter.com/djiglobal" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://instagram.com/djigames/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UCDYaI5CR0PzyuyF4MYRDARA" target="_blank"><i class="fa fa-youtube"></i></a>
            </div><!--/ .social-icons-->
            <div class="col-sm-6 sponsors">
              <div class="sponsor-item">
                <a href="http://www.aeroclub.at/" target="_blank"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/dji-games/images/aeroclub-logo.png"/></a>
              </div>
              <div class="sponsor-item">
                <a href="http://www.aerialgpeurope.com/" target="_blank"><img class="img-responsive" style="margin-top: 10px; padding-left: 10px;" src="https://s3-us-west-2.amazonaws.com/dji-games/images/aerial-grand-prix-logo.png"/></a>
              </div>
              <div class="sponsor-item">
                <a href="http://www.spitzerberg.at/" target="_blank"><img class="img-responsive" style="max-height: 62px;" src="https://s3-us-west-2.amazonaws.com/dji-games/images/airfield-spitzerberg.png"/></a>
              </div>
            </div>
          </div><!--/ .row-->
          <div class="row">
            <div class="col-xs-12 copyright">
              <hr class="light">
              <img class="footer-logo" src="https://s3-us-west-2.amazonaws.com/dji-games/images/dji-logo-footer.png">
              <p>Copyright © 2015 <a href="http://www.dji.com">DJI</a> Alle Rechte vorbehalten.</p>
            </div><!--/ .copyright-->
          </div><!--/ .row-->
        </div><!--/ .container-->
      </section>
      <!-- FOOTER
      ================================================== -->
    {% endblock footer %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <!-- Project specific Javascript -->
      <script src="{% static 'js/project.js' %}"></script>
      <script src="{% static 'js/scrollto.min.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>