{% extends "base.html" %}
{% load staticfiles i18n %}

{% block nav %}
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="https://s3-us-west-2.amazonaws.com/dji-games/images/dji-games-logo.png"/>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#welcome" class="scrollto">Home</a></li>
        <li><a href="#agenda-glance" class="scrollto">Agenda</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'hotels' %}">Hotels</a></li>
            <li><a href="{% url 'press' %}">Press</a></li>
          </ul>
        </li>
        <li><a href="#rules" class="scrollto">Rules</a></li>
        <li><a href="#contact" class="scrollto">Location</a></li>
        <li><a href="#signup" class="highlighted scrollto">Signup</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock nav %}

{% block content %}
  <!-- WELCOME
  ================================================== -->
  <section class="welcome" id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-8">
          <!-- 16:9 iframe embed -->
          <div class="embed-responsive embed-responsive-16by9 video-embed video-embed-item">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jvvx-Uo-YRc" frameborder="0" allowfullscreen></iframe>
          </div><!--/ .embed-responsive-->
          <h1 class="title">Spitzerberg, Austria <span>June 20-21, 2015</span></h1>
        </div><!--/ .col-md-7-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ WELCOME
  ================================================== -->

  <!-- OVERVIEW
  ================================================== -->
  <section class="overview" id="overview">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>We're looking for the best Phantom pilots in the world.</h2>
        </div>
        <div class="col-sm-8 section-title">
          <h3 style="font-weight: 300; line-height: 1.3;">Come compete in the only dedicated aerial skill test for pilots like you. Special prizes from DJI. Exclusive obstacle course near Vienna. A chance to prove your skill. Hundreds of ready-to-fly Phantoms await but space is limited, so pre-register today! Stay tuned for more details.</h3>
        </div><!--/ .col-xs-12-->
        <div class="col-sm-3 col-xs-10">
          <a href="#signup" class="btn btn-lg btn-block btn-danger btn-signup scrollto">Signup Today</a>
        </div>
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ OVERVIEW
  ================================================== -->

  <!-- AGENDA AT-A-GLANCE
  ================================================== -->
  <section class="agenda-glance" id="agenda-glance">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 section-title-2 text-center">
          <h2>Agenda At-A-Glance</h2>
        </div><!--/ .col-xs-12-->
      </div><!--/ .row-->
      <div role="tabpanel">
        <div class="row event-days">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-6 active" role="presentation">
              <a href="#day1" aria-controls="day1" role="tab" data-toggle="tab" class="btn btn-lg btn-block">Saturday</a>
            </li><!--/ .col-md-3-->
            <li class="col-md-3 col-sm-4 col-xs-6" role="presentation">
              <a href="#day2" aria-controls="day2" role="tab" data-toggle="tab" class="btn btn-lg btn-block">Sunday</a>
            </li><!--/ .col-md-3-->
          </ul><!--/ .nav-tabs-->
        </div><!--/ .event-days-->
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="day1">
            <div class="row">
              <div class="col-xs-6 time-item"><p>8:00 AM - 8:45 AM</p></div>
                <div class="col-xs-6 event-item"><p>Pilot Briefing</p></div>
              <div class="col-xs-6 time-item"><p>9:00 AM - 9:45 AM</p></div>
                <div class="col-xs-6 event-item"><p>DJI Games Practice Session</p></div>
              <div class="col-xs-6 time-item"><p>10:00 AM - 10:45 AM</p></div>
                <div class="col-xs-6 event-item"><p>AGP Practice Session</p></div>
              <div class="col-xs-6 time-item"><p>11:00 AM - 11:45 AM</p></div>
                <div class="col-xs-6 event-item"><p>Opening Ceremony</p></div>
              <div class="col-xs-6 time-item"><p>12:00 PM - 2:00 PM</p></div>
                <div class="col-xs-6 event-item"><p>DJI Games Qualifying Rounds</p></div>
              <div class="col-xs-6 time-item"><p>2:30 PM - 4:30 PM</p></div>
                <div class="col-xs-6 event-item"><p>AGP Qualifying Rounds</p></div>
              <div class="col-xs-6 time-item"><p>4:45 PM - 5:00 PM</p></div>
                <div class="col-xs-6 event-item"><p>Announcements</p></div>
              <div class="col-xs-6 time-item"><p>5:00 PM - 5:45 PM</p></div>
                <div class="col-xs-6 event-item"><p>DJI Games Practice Session</p></div>
              <div class="col-xs-6 time-item"><p>6:00 PM - 8:00 PM</p></div>
                <div class="col-xs-6 event-item"><p>AGP Practice Session</p></div>
            </div><!--/ .row-->
          </div><!--/ .tab-panel-->
          <div role="tabpanel" class="tab-pane fade" id="day2">
            <div class="row">
              <div class="col-xs-6 time-item"><p>8:00 AM - 8:45 AM</p></div>
                <div class="col-xs-6 event-item"><p>Pilot Briefing</p></div>
              <div class="col-xs-6 time-item"><p>9:00 AM - 10:00 AM</p></div>
                <div class="col-xs-6 event-item"><p>DJI Games Semi Finals</p></div>
              <div class="col-xs-6 time-item"><p>10:30 PM - 11:30 PM</p></div>
                <div class="col-xs-6 event-item"><p>AGP Semi Finals</p></div>
              <div class="col-xs-6 time-item"><p>12:00 PM - 2:00 PM</p></div>
                <div class="col-xs-6 event-item"><p>Announcements | Halftime Show</p></div>
              <div class="col-xs-6 time-item"><p>2:15 PM - 2:45 AM</p></div>
                <div class="col-xs-6 event-item"><p>DJI Games Practice Session</p></div>
              <div class="col-xs-6 time-item"><p>3:00 PM - 3:30 AM</p></div>
                <div class="col-xs-6 event-item"><p>AGP Practice Session</p></div>
              <div class="col-xs-6 time-item"><p>4:00 PM - 5:00 PM</p></div>
                <div class="col-xs-6 event-item"><p>AGP Finals</p></div>
              <div class="col-xs-6 time-item"><p>5:30 PM - 6:30 PM</p></div>
                <div class="col-xs-6 event-item"><p>DJI Games Finals</p></div>
              <div class="col-xs-6 time-item"><p>6:45 PM - 7:30 PM</p></div>
                <div class="col-xs-6 event-item"><p>Announcements | Closing Ceremony</p></div>
            </div><!--/ .row-->
          </div><!--/ .tab-panel-->
        </div><!--/ .tab-content-->
      </div>
    </div><!--/ .container-->
  </section>
  <!--/ AGENDA AT-A-GLANCE
  ================================================== -->

  <!-- GAME RULES
  ================================================== -->
  <section class="rules" id="rules">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 section-title-2 text-center">
          <h2>Game Rules</h2>
        </div><!--/ .col-xs-12-->
      </div><!--/ .row-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>How to Win</h3>
          <p>The DJI Games challenges you to fly a Phantom 3 through a free fly obstacle course, earning points for each maneuver you complete within a 2-minute time limit. You are not required to complete every obstacle. You have the freedom to strategize based on your own skill sets. Only those with the highest scores can continue competing to win DJI Prizes and glory.</p>
          <div class="tabbed">
            <h4><strong>Day 1: Qualifying Rounds</strong></h4>
            <p>During the qualifying rounds, each competitor will be flying solo to determine his/her own individual skill.</p>
            <p><em>6 contestants per round</em></p>
            <h4><strong>Day 2: Semi Finals</strong></h4>
            <p>In the semi-final rounds, competitors will be randomly paired with one-another to test his/her ability to work as a team.</p>
            <p><em>2 contestants per team, 3 teams per round</em></p>
            <h4><strong>Day 2: Finals</strong></h4>
            <p>During the final rounds, competitors will be randomly assigned with a different team member. Teams will be given additional practice time prior to the rounds so that that they can devise a strategy based on each member’s skill sets.</p>
            <p><em>2 contestants per team, 3 teams per round</em></p>
          </div><!--/ .tabbed-->
          <h3>The Course</h3>
          <p>This DJI-designed course has several options and ways for you to earn points. Each participant will have their own course, and these maneuvers can be completed in any order, depending on your preference:</p>
          <div class="row list-item">
            <div class="col-sm-4 col-sm-push-8 col-xs-8">
              <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/dji-games/images/pyramid.png"/>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-sm-8 col-sm-pull-4">
              <h4><strong>DJI Pyramid | 10-20 Points</strong></h4>
              <p>Use the landing gear on the DJI Phantom to pick up the Pyramid, then place it down on the nearby bulls-eye. Where the Pyramid is placed determines your earned points. With 10, 15, or 20 points up for grabs, this is your biggest single opportunity to earn the most points.</p>
              <p><em>The Pyramid can only be used once per participant per run.</em></p>
            </div>
          </div><!--/ .list-item-->
          <div class="row list-item">
            <div class="col-sm-3 col-xs-8">
              <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/dji-games/images/landing-pad.png"/>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-sm-9">
              <h4><strong>Landing Pads | 2-5 Points</strong></h4>
              <p>Land your Phantom on each landing pad and stop on the ground for 1 second. Where you land your Phantom determines the number of points earned – either 5 points for the center, or 2 points for the edge.</p>
              <p><em>Each landing pad can only be used once per participant per run.</em></p>
            </div>
          </div><!--/ .list-item-->
          <div class="row list-item">
            <div class="col-sm-4 col-sm-push-8 col-xs-8">
              <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/dji-games/images/figure-8.png"/>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-sm-8 col-sm-pull-4">
              <h4><strong>Figure-8 | 4 Points</strong></h4>
              <p>Complete a figure-8 motion around the two pylons in the center of the course. Each completed figure-8 earns you 4 points.</p>
              <p><em>Figure 8s can be completed an unlimited number of times during each run.</em></p>
              <h4 style="margin-top: 20px;"><strong>Loops | 2 Points</strong></h4>
              <p>Fly through the raised loop on top of each pylon to earn 2 points.</p>
              <p><em>Each loop can only be used twice per participant per run.</em></p>
            </div>
          </div><!--/ .list-item-->
          <h3 style="margin-top: 30px;">Time Limit</h3>
          <p>Any of the above maneuvers must be completed before the time for your run expires to earn the associated points. Time limits for each run will vary depending on which round of the DJI Games you advance to.</p>
          <h3>Penalties</h3>
          <p>To encourage safe flying and adherence to the rules, points will be subtracted from participants as follows:</p>
          <div class="tabbed">
            <h4><strong>Crashing | -15 Points, End Run</strong></h4>
            <p>Flying your Phantom into the ground or other objects, causing it to be unable to continue flying on its own, results in an immediate end to your run. 15 points will be deducted from your current score, and you will not be able to earn any further points.</p>
            <h4><strong>Out of Bounds | -10 Points, End Run</strong></h4>
            <p>Flying your Phantom outside of the designated area for your course or interfering/flying into a course being used by other participants will result in an immediate end to your run. 10 points will be deducted from your current score, and you will not be able to earn any further points.</p>
            <h4><strong>Failure to Land Safely | -10 Points</strong></h4>
            <p>After time expires for each run, all participants must land their Phantom safely on the ground within their course area and power off the motors within 15 seconds. Failure to land safely results in a 10-point deduction from your score.</p>
            <h4><strong>Disqualification</strong></h4>
            <p>Any behavior or flight conducted in an unsportsmanlike or inappropriate way will result in immediate, complete disqualification from the DJI Games and any future events. Decisions made by DJI officials on-site are final.</p>
          </div><!--/ .tabbed-->
        </div>
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ GAME RULES
  ================================================== -->

  <!-- SIGNUP
  ================================================== -->
  <section class="signup" id="signup">
    <div class="dark-overlay">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 section-title">
            <h2>Space is limited, so signup today!</h2>
          </div><!--/ .col-xs-12-->
        </div><!--/ .row-->
          <!-- --- SIGNUP FORM --- -->
          <form name="ProfileForm" onsubmit="return CheckInputs();" action="https://link.dji.com/u/register.php">
            <input type="hidden" name="CID" value="290636680">
            <input type="hidden" name="SID" value="">
            <input type="hidden" name="UID" value="">
            <input type="hidden" name="f" value="2403">
            <input type="hidden" name="p" value="2">
            <input type="hidden" name="a" value="r">
            <input type="hidden" name="el" value="">
            <input type="hidden" name="endlink" value="">
            <input type="hidden" name="llid" value="">
            <input type="hidden" name="c" value="">
            <input type="hidden" name="counted" value="">
            <input type="hidden" name="RID" value="">
            <input type="hidden" name="mailnow" value="">
            <div class="row">
              <div class="form-group col-lg-2 col-sm-3">
                <input type="text" class="form-control" name="inp_1" maxlength="60" value="" placeholder="First Name">
              </div><!--/ .form-group-->
              <div class="form-group col-lg-2 col-sm-3">
                <input type="text" class="form-control" name="inp_2" maxlength="60" value="" placeholder="Last Name">
              </div><!--/ .form-group-->
            </div><!--/ .row-->
            <div class="row">
              <div class="form-group col-lg-2 col-sm-3">
                <input type="text" class="form-control" name="inp_11" maxlength="60" value="" placeholder="City">
              </div><!--/ .form-group-->
              <div class="form-group col-lg-2 col-sm-3">
                <select class="form-control" name="inp_14">
                  <option value="">Country</option>
                  <option value="10">Austria</option>
                  <option value="65">Germany</option>
                  <option value="168">Switzerland</option>
                  <option value="100">Liechtenstein</option>
                  <option value="1">Afghanistan</option>
                  <option value="2">Albania</option>
                  <option value="3">Algeria</option>
                  <option value="4">Andorra</option>
                  <option value="5">Angola</option>
                  <option value="6">Antigua and Barbuda</option>
                  <option value="7">Argentina</option>
                  <option value="8">Armenia</option>
                  <option value="9">Australia</option>
                  <option value="11">Azerbaijan</option>
                  <option value="12">Bahamas</option>
                  <option value="13">Bahrain</option>
                  <option value="14">Bangladesh</option>
                  <option value="15">Barbados</option>
                  <option value="16">Belarus</option>
                  <option value="17">Belgium</option>
                  <option value="18">Belize</option>
                  <option value="19">Benin</option>
                  <option value="20">Bhutan</option>
                  <option value="21">Bolivia</option>
                  <option value="22">Bosnia and Herzegovina</option>
                  <option value="23">Botswana</option>
                  <option value="24">Brazil</option>
                  <option value="25">Brunei Darussalam</option>
                  <option value="26">Bulgaria</option>
                  <option value="27">Burkina Faso</option>
                  <option value="28">Burma</option>
                  <option value="29">Burundi</option>
                  <option value="30">Cambodia</option>
                  <option value="31">Cameroon</option>
                  <option value="32">Canada</option>
                  <option value="201">Canary Islands</option>
                  <option value="33">Cape Verde</option>
                  <option value="34">Central African Republic</option>
                  <option value="35">Chad</option>
                  <option value="36">Chile</option>
                  <option value="37">China</option>
                  <option value="38">Colombia</option>
                  <option value="39">Comoros</option>
                  <option value="40">Congo</option>
                  <option value="41">Congo, Democratic Republic of the</option>
                  <option value="42">Costa Rica</option>
                  <option value="43">Cote d'Ivoire</option>
                  <option value="44">Croatia</option>
                  <option value="45">Cuba</option>
                  <option value="46">Cyprus</option>
                  <option value="47">Czech Republic</option>
                  <option value="48">Denmark</option>
                  <option value="49">Djibouti</option>
                  <option value="50">Dominica</option>
                  <option value="51">Dominican Republic</option>
                  <option value="258">East Timor</option>
                  <option value="52">Ecuador</option>
                  <option value="53">Egypt</option>
                  <option value="54">El Salvador</option>
                  <option value="55">Equatorial Guinea</option>
                  <option value="56">Eritrea</option>
                  <option value="57">Estonia</option>
                  <option value="58">Ethiopia</option>
                  <option value="59">Fiji</option>
                  <option value="60">Finland</option>
                  <option value="61">France</option>
                  <option value="62">Gabon</option>
                  <option value="63">Gambia, The</option>
                  <option value="64">Georgia</option>
                  <option value="66">Ghana</option>
                  <option value="203">Gibraltar</option>
                  <option value="67">Greece</option>
                  <option value="198">Greenland</option>
                  <option value="68">Grenada</option>
                  <option value="69">Guatemala</option>
                  <option value="70">Guinea</option>
                  <option value="71">Guinea-Bissau</option>
                  <option value="72">Guyana</option>
                  <option value="73">Haiti</option>
                  <option value="74">Honduras</option>
                  <option value="205">Hong Kong</option>
                  <option value="75">Hungary</option>
                  <option value="76">Iceland</option>
                  <option value="77">India</option>
                  <option value="78">Indonesia</option>
                  <option value="79">Iran</option>
                  <option value="80">Iraq</option>
                  <option value="81">Ireland</option>
                  <option value="82">Israel</option>
                  <option value="83">Italy</option>
                  <option value="84">Jamaica</option>
                  <option value="85">Japan</option>
                  <option value="86">Jordan</option>
                  <option value="87">Kazakhstan</option>
                  <option value="88">Kenya</option>
                  <option value="89">Kiribati</option>
                  <option value="90">Korea, North</option>
                  <option value="91">Korea, South</option>
                  <option value="259">Kosovo</option>
                  <option value="92">Kuwait</option>
                  <option value="93">Kyrgyzstan</option>
                  <option value="94">Laos</option>
                  <option value="95">Latvia</option>
                  <option value="96">Lebanon</option>
                  <option value="97">Lesotho</option>
                  <option value="98">Liberia</option>
                  <option value="99">Libya</option>
                  <option value="101">Lithuania</option>
                  <option value="102">Luxembourg</option>
                  <option value="206">Macau</option>
                  <option value="103">Macedonia</option>
                  <option value="104">Madagascar</option>
                  <option value="105">Malawi</option>
                  <option value="106">Malaysia</option>
                  <option value="107">Maldives</option>
                  <option value="108">Mali</option>
                  <option value="109">Malta</option>
                  <option value="110">Marshall Islands</option>
                  <option value="111">Mauritania</option>
                  <option value="112">Mauritius</option>
                  <option value="113">Mexico</option>
                  <option value="114">Micronesia</option>
                  <option value="115">Moldova</option>
                  <option value="116">Monaco</option>
                  <option value="117">Mongolia</option>
                  <option value="202">Montenegro</option>
                  <option value="118">Morocco</option>
                  <option value="119">Mozambique</option>
                  <option value="120">Myanmar</option>
                  <option value="121">Namibia</option>
                  <option value="122">Nauru</option>
                  <option value="123">Nepal</option>
                  <option value="204">Netherlands Antilles</option>
                  <option value="125">New Zealand</option>
                  <option value="126">Nicaragua</option>
                  <option value="127">Niger</option>
                  <option value="128">Nigeria</option>
                  <option value="129">Norway</option>
                  <option value="130">Oman</option>
                  <option value="131">Pakistan</option>
                  <option value="132">Palau</option>
                  <option value="134">Panama</option>
                  <option value="135">Papua New Guinea</option>
                  <option value="136">Paraguay</option>
                  <option value="137">Peru</option>
                  <option value="138">Philippines</option>
                  <option value="139">Poland</option>
                  <option value="140">Portugal</option>
                  <option value="141">Qatar</option>
                  <option value="142">Romania</option>
                  <option value="143">Russia</option>
                  <option value="144">Rwanda</option>
                  <option value="148">Samoa</option>
                  <option value="149">San Marino</option>
                  <option value="150">S?o Tom¨¦ and Pr¨ªncipe</option>
                  <option value="151">Saudi Arabia</option>
                  <option value="152">Senegal</option>
                  <option value="153">Serbia</option>
                  <option value="154">Seychelles</option>
                  <option value="155">Sierra Leone</option>
                  <option value="156">Singapore</option>
                  <option value="157">Slovakia</option>
                  <option value="158">Slovenia</option>
                  <option value="159">Solomon Islands</option>
                  <option value="160">Somalia</option>
                  <option value="161">South Africa</option>
                  <option value="162">Spain</option>
                  <option value="163">Sri Lanka</option>
                  <option value="145">St. Kitts and Nevis</option>
                  <option value="146">St. Lucia</option>
                  <option value="147">St. Vincent and The Grenadines</option>
                  <option value="164">Sudan</option>
                  <option value="165">Suriname</option>
                  <option value="166">Swaziland</option>
                  <option value="167">Sweden</option>
                  <option value="169">Syria</option>
                  <option value="170">Taiwan</option>
                  <option value="171">Tajikistan</option>
                  <option value="172">Tanzania</option>
                  <option value="173">Thailand</option>
                  <option value="124">The Netherlands</option>
                  <option value="174">Togo</option>
                  <option value="175">Tonga</option>
                  <option value="176">Trinidad and Tobago</option>
                  <option value="177">Tunisia</option>
                  <option value="178">Turkey</option>
                  <option value="179">Turkmenistan</option>
                  <option value="180">Tuvalu</option>
                  <option value="181">Uganda</option>
                  <option value="182">Ukraine</option>
                  <option value="183">United Arab Emirates</option>
                  <option value="184">United Kingdom</option>
                  <option value="185">United States of America</option>
                  <option value="186">Uruguay</option>
                  <option value="187">Uzbekistan</option>
                  <option value="188">Vanuatu</option>
                  <option value="189">Vatican City</option>
                  <option value="190">Venezuela</option>
                  <option value="191">Vietnam</option>
                  <option value="199">Virgin Islands</option>
                  <option value="192">Western Sahara</option>
                  <option value="193">Yemen</option>
                  <option value="194">Yugoslavia</option>
                  <option value="195">Zaire</option>
                  <option value="196">Zambia</option>
                  <option value="197">Zimbabwe</option>
                </select>
              </div><!--/ .form-group-->
            </div><!--/ .row-->
            <div class="row">
              <div class="form-group col-lg-4 col-sm-6">
                <input type="email" class="form-control" name="inp_3" maxlength="255" value="" placeholder="Email Address">
              </div><!--/ .form-group-->
            </div><!--/ .row-->
            <div class="row">
              <div class="form-group col-lg-4 col-sm-6">
                <input type="text" class="form-control" maxlength="255" name="inp_49686" value="" placeholder="Current Aerial System...">
              </div><!--/ .form-group-->
              <div class="clearfix"></div>
              <div class="col-lg-2 col-sm-3">
                <input type="button" class="btn btn-block btn-primary" onclick="javascript:SubmitIt()" name="submit1" value="Signup">
              </div>
            </div><!--/ .row-->
          </form>
          <script src="{% static 'js/signup-form.js' %}" type="text/javascript"></script>
          <script src="https://link.dji.com/u/nprefill.js" type="text/javascript"></script>
          <!-- ---/ SIGNUP FORM --- -->
      </div><!--/ .container-->
    </div><!--/ .dark-overlay-->
  </section>
  <!--/ SIGNUP
  ================================================== -->

  <!-- CONTACT
  ================================================== -->
  <section class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-title-2">
            <h2>Location / Contact</h2>
          </div>
          <div class="col-md-4"><p class="contact-item">Primary Email:</p></div>
          <div class="col-md-8">
            <p><a href="mailto:games@dji.com">games@dji.com</a></p>
          </div>
          <div class="col-md-4"><p class="contact-item">Event Address:</p></div>
          <div class="col-md-8">
            <p>Flugplatz Spitzerberg<br>
            Spitzerberg 1, 2405 Hundsheim, Austria</p>
          </div>
          <div class="col-md-4"><p class="contact-item">AGP Email:</p></div>
          <div class="col-md-8">
            <p><a href="mailto:aerialgp@gmail.com">aerialgp@gmail.com</a></p>
          </div>
        </div><!--/ .col-md-6-->
        <div class="col-sm-6">
          <!-- 16:9 iframe embed -->
          <div class="embed-responsive embed-responsive-16by9 map-embed-item">
            <iframe class="embed-responsive-item" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Spitzerberg%201%202405%20Hundsheim%2C%20Austria&key=AIzaSyBp1MgLfTuunv4Ntba3G_oaPxawTu06oUA"></iframe>
          </div><!--/ .embed-responsive-->
        </div><!--/ .col-md-6-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ CONTACT
  ================================================== -->
{% endblock content %}