{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
  <!-- PRESS
  ================================================== -->
  <section class="press" id="press">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 section-title-2 text-center">
          <h2>Press</h2>
        </div><!--/ .section-title-->
      </div><!--/ .row-->
      <div class="row">
        <div class="col-xs-12">
          <ol class="press-faq">
            <li>What is “DJI Games?”</li>
            <p>The DJI Games is the world’s first broadcasted multi-rotor competition show to find the best multi rotor pilots in the world.</p>
            <li>What type of competition is it?</li>
            <p>The DJI Games joins the revolutionary movement called "Rotorsports," which includes FPV drone racing, and drone stunt competition. It harkens back to the early days of motorsport such as Formula One, before commercial sponsorship and rules were defined. Using DJI products and platforms, contestants will use strategies to outperform their opponents in an obstacle-based game.</p>
            <li>What’s in it for the people? Who can enter?</li>
            <p>This is a rotorsport competition for the novice all the way to an advanced FPV pilot. The Games is a chance to prove your piloting skills in the new exciting sport of aerial games, and become a champion. We give you wings, it's up to you to take flight.</p>
            <li>Why only use the Phantom?</li>
            <p>The Phantom platform will be used exclusively for the games at the moment because of the ease of use, and as the games mature, more difficult challenges on alternate platforms will be introduced.</p>
            <li>How does one play the game?</li>
            <p>Competitors will have 120 seconds to complete as many obstacles as they can and accumulate as many points as possible. The one with the most points will move on to the next round. After the qualifiers, competitors will be randomly paired up to promote teamwork and strategy.</p>
            <li>Why do the DJI Games exist?</li>
            <p>DJI is more than just a company that produces a product. It is a brand and lifestyle, and continually pushes innovative boundaries including engagement with their community. With the creation of a new rotorsport such as the DJI Games, DJI hopes to promote and demonstrate safety, and motivate users to learn proper skill sets needed to fly safely. In this way DJI hopes to lead UAV education and training in a direct, positive and, most importantly, fun way.</p>
            <li>What is the partnership with AerialGP and what is the difference between the racing and the games?</li>
            <p>Aerial GP represents the FPV racing community, and DJI is is extending it's partnership and sponsoring AerialGP to not only cater to DJI customers, but to all "drone" enthusiasts around the world. The Phantom platform will be used exclusively for the DJI Games, and the racing is open to all platforms.</p>
            <li>Are the Games limited to just drone competition?</li>
            <p>Without revealing too much, no it will not be limited to just drone competitions. In the future we will have obstacles that involve physical ability and skills needed to use our vast array of products.</p>
          </ol><!--/ .press-faq-->
        </div><!--/ .col-xs-12-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ PRESS
  ================================================== -->

  <!-- PRESS CONTACT
  ================================================== -->
  <section class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-title-2">
            <h2>Press Contact</h2>
          </div>
          <div class="col-md-4"><p class="contact-item">Primary Email:</p></div>
          <div class="col-md-8">
            <p><a href="mailto:games@dji.com">games@dji.com</a></p>
          </div>
          <div class="col-md-4"><p class="contact-item">Event Address:</p></div>
          <div class="col-md-8">
            <p>Flugplatz Spitzerberg<br>
            Spitzerberg 1, 2405 Hundsheim, Austria</p>
          </div>
          <div class="col-md-4"><p class="contact-item">AGP Email:</p></div>
          <div class="col-md-8">
            <p><a href="mailto:aerialgp@gmail.com">aerialgp@gmail.com</a></p>
          </div>
        </div><!--/ .col-md-6-->
        <div class="col-sm-6">
          <!-- 16:9 iframe embed -->
          <div class="embed-responsive embed-responsive-16by9 map-embed-item">
            <iframe class="embed-responsive-item" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Spitzerberg%201%202405%20Hundsheim%2C%20Austria&key=AIzaSyBp1MgLfTuunv4Ntba3G_oaPxawTu06oUA"></iframe>
          </div><!--/ .embed-responsive-->
        </div><!--/ .col-md-6-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ PRESS CONTACT
  ================================================== -->
{% endblock content %}