{% extends "base-de.html" %}
{% load staticfiles i18n %}

{% block content %}
  <!-- PRESS
  ================================================== -->
  <section class="press" id="press">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 section-title-2 text-center">
          <h2>Presse</h2>
        </div><!--/ .section-title-->
      </div><!--/ .row-->
      <div class="row">
        <div class="col-xs-12">
          <ol class="press-faq">
            <li>Was sind die „DJI Games“?</li>
            <p>DJI sucht die besten Koperpiloten der Welt. Die DJI Games sind der weltweit erste Wettbewerb für zivile Kameradrohnen bzw. Multikopter - mit Perspektiven, wie man die Welt noch nicht gesehen hat. Mit Geschick, Taktik und Kreativität zum großen Sieg.</p>
            <li>Um welche Art von Wettbewerb handelt es sich? </li>
            <p>Die DJI Games sind Teil der neuartigen „Rotorsport“-Bewegung. Hierzu zählen unter anderem FPV-Drohnenrennen (Ich-Perspektive) und Stunt- bzw. Kunststück-Wettbewerbe mit Flugdrohnen. Das Konzept ähnelt den frühen Anfängen des Motorsports (z.B. Formel 1), bevor es kommerzielle Förderung und offizielle Regeln gab. Mit Hilfe von DJI Produkten und Flugplattformen müssen die Teilnehmer Wege finden, ihre Mitstreiter im Rahmen eines Hindernisparcours zu übertreffen.</p>
            <li>Um was geht es für die Teilnehmer? Wer kann teilnehmen?</li>
            <p>Bei den DJI Games handelt es sich um einen Rotorsport-Wettbewerb für Anfänger und fortgeschrittene FPV-Kopterpiloten. Die DJI Games sind eine einzigartige Chance für alle Kopterpiloten, ihre Flugfähigkeiten unter Beweis zu stellen, und neuer Champion des aufgregenden, neuen Rotorsport-Wettbewerbs zu werden.</p>
            <li>Warum wird nur der DJI Phantom 3 verwendet?</li>
            <p>Aufgrund des einzigartigen Bedienkomforts wird aktuell nur der DJI Phantom 3 verwendet. In Zukunft sind auch Wettbewerbe mit anderen Flugplattformen geplant.</p>
            <li>Was sind die Spielregeln?</li>
            <p>Geschicklichkeit, Schnelligkeit, Kreativität und Timing entscheiden über den Sieg bei den DJI Games. Alle Teilnehmer haben 120 Sekunden, um so viele Hindernisse wie möglich zu meistern und dabei so viele Punkte wie möglich zu sammeln. Die Anzahl der Punkte in jeder Runde entscheidet über die Finalteilnahme. Nach den Qualifikationsrunden werden die Teilnehmer in zufällig festgelegte Paarungen gegeneinander gestellt, um die Teamfähigkeit und kreative Strategien zu fördern.</p>
            <li>Warum gibt es die DJI Games?</li>
            <p>DJI ist mehr als nur ein Hersteller von Kameradrohnensystemen. Die DJI Games sind emotionales Vehikel zur Demonstration neuer Perspektiven durch innovative Technologien von DJI. Die Einführung von Rotorsport-Veranstaltungen verfolgt auch das Ziel, Anwender zu ermutigen, ihre Flugfähigkeiten zu verbessern und damit die allgemeine Sicherheit von Flugsystemen zu erhöhen. DJI möchte die Fort- und Weiterbildung für Anwender von UAV-Systemen kontinuierlich vorantreiben - und das auf eine spaßige und einfache Art und Weise.</p>
            <li>Warum wird die Veranstaltung zusammen mit Aerial Grand Prix (AGP) durchgeführt und was sind die Unterschiede zwischen dem AGP-Rennen und den DJI Games?</li>
            <p>Der Aerial Grand Prix versteht sich als Renn-Community. DJI möchte mit dem Sponsoring des Aerial Grand Prix nicht nur DJI Kunden, sondern alle Liebhaber von Kameradrohnen weltweit ansprechen. Während für die DJI Games ausschließlich der DJI Phantom 3 eingesetzt wird, sind für den Aerial Grand Prix alle Arten von Flugplattformen zugelassen.</p>
            <li>Handelt es sich bei den DJI Games ausschließlich um einen „Drohnen“-Wettbewerb?</li>
            <p>Ohne zu viel verraten zu wollen wird sich die Veranstaltung nicht nur ausschließlich um „Drohnen“-Wettbewerbe handeln. In Zukunft wird der Wettbewerb um Hindernisse erweitert, die körperliche und andere Fähigkeiten fördern und andere innovative Produkte von DJI berücksichtigen.</p>
          </ol><!--/ .press-faq-->
        </div><!--/ .col-xs-12-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ PRESS
  ================================================== -->

  <!-- PRESS CONTACT
  ================================================== -->
  <section class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-title-2">
            <h2>Presse Kontakt</h2>
          </div>
          <div class="col-md-4"><p class="contact-item">Primäre E-Mail:</p></div>
          <div class="col-md-8">
            <p><a href="mailto:games@dji.com">games@dji.com</a></p>
          </div>
          <div class="col-md-4"><p class="contact-item">Adresse der Location:</p></div>
          <div class="col-md-8">
            <p>Flugplatz Spitzerberg<br>
            Spitzerberg 1<br>
            2405 Hundsheim<br>
            Österreich</p>
          </div>
          <div class="col-md-4"><p class="contact-item">AGP E-Mail:</p></div>
          <div class="col-md-8">
            <p><a href="mailto:aerialgp@gmail.com">aerialgp@gmail.com</a></p>
          </div>
        </div><!--/ .col-md-6-->
        <div class="col-sm-6">
          <!-- 16:9 iframe embed -->
          <div class="embed-responsive embed-responsive-16by9 map-embed-item">
            <iframe class="embed-responsive-item" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Spitzerberg%201%202405%20Hundsheim%2C%20Austria&key=AIzaSyBp1MgLfTuunv4Ntba3G_oaPxawTu06oUA"></iframe>
          </div><!--/ .embed-responsive-->
        </div><!--/ .col-md-6-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ PRESS CONTACT
  ================================================== -->
{% endblock content %}