{% extends "base-de.html" %}
{% load staticfiles i18n %}

{% block content %}
  <!-- HOTELS
  ================================================== -->
  <section class="hotels" id="hotels">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 section-title text-center">
          <h2>Hotels & Unterkünfte</h2>
        </div>
      </div><!--/ .row-->
      <div class="row">
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/hotels/therme-carnuntum.jpg"/>
            <a href="http://www.therme-carnuntum.at" target="_blank"><h5 class="travel-title">Kurzentrum Ludwigstorff - Therme Carnuntum</h5></a>
            <p class="address">A-2405 Bad Deutsch-Altenburg, Badgasse 21</p>
            <a href="tel:+430216562617522" class="phone">+43 (0) 2165/62617 522</a><br>
            <a href="mailto:reception@therme-carnuntum.at" class="email">reception@therme-carnuntum.at</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/hotels/stockl.jpg"/>
            <a href="http://gasthof-stoeckl.at" target="_blank"><h5 class="travel-title">Hotel-Restaurant Stöckl</h5></a>
            <p class="address">A-2405 Bad Deutsch-Altenburg, Hauptplatz 3</p>
            <a href="tel:+430216562337" class="phone">+43 (0) 2165/62337</a><br>
            <a href="mailto:office@gasthof-stoeckl.at" class="email">office@gasthof-stoeckl.at</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/hotels/riedmuller.jpg"/>
            <a href="http://www.upps.at/main/hotel_detail.php?hotel_id=4971&lang=en" target="_blank"><h5 class="travel-title">Hotel Riedmüller</h5></a>
            <p class="address">A-2405 Bad Deutsch-Altenburg, Badgasse 28</p>
            <a href="tel:+430216562473" class="phone">+43 (0) 2165/62473</a><br>
            <a href="mailto:riedmueller.hotels@aon.at" class="email">riedmueller.hotels@aon.at</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/hotels/pension-madle.jpg"/>
            <a href="http://www.donau.com/en/the-danube-in-lower-austria/sleep-book/detailseite-hotel/?hid=AUT00020100005443754&sid=" target="_blank"><h5 class="travel-title">Pension Madle</h5></a>
            <p class="address">A-2405 Bad Deutsch-Altenburg, Bargasse 22</p>
            <a href="tel:+430216562763" class="phone">+43 (0) 2165/62763</a><br>
            <a href="mailto:pension@madle.at" class="email">pension@madle.at</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/hotels/altes-kloster.jpg"/>
            <a href="http://www.alteskloster.at/en/" target="_blank"><h5 class="travel-title">Hotel Altes Kloster GmbH</h5></a>
            <p class="address">A-2410 Hainburg an der Donau, Fabriksplatz 1a</p>
            <a href="tel:+4306764409366" class="phone">+43 (0) 676/4409366</a><br>
            <a href="mailto:maurovichsercan@hotmail.com" class="email">maurovichsercan@hotmail.com</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/hotels/hainburg-motel.jpg"/>
            <a href="http://www.booking.com/hotel/at/motel-hainburg-47-fair-sleep.en-gb.html?aid=318615;label=Recommended_Targets_14599780105-iMT4bQngN1uS4NeSwmBPiQS53776097425%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap1t1%3Aneg;sid=c4421633559861b74e05f91fcab2ba29;dcid=1;dist=0;srfid=01e2951c33c3543504dd0d3b46072c234e3edbe2X1;type=total;ucfs=1&" target="_blank"><h5 class="travel-title">Hainburg Motel</h5></a>
            <p class="address">A-2410 Hainburg an der Donau, Pressburger Reichsstraße 70-72</p>
            <a href="tel:+4306764409366" class="phone">+43 (0) 676/4409366</a><br>
            <a href="mailto:maurovichsercan@hotmail.com" class="email">maurovichsercan@hotmail.com</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/hotels/goldenen-anker.jpg"/>
            <a href="http://www.goldeneranker.at" target="_blank"><h5 class="travel-title">Hotel-Restaurant >>Zum goldenen Anker<<</h5></a>
            <p class="address">A-2410 Hainburg an der Donau, Donaulände 27</p>
            <a href="tel:+430216564810" class="phone">+43 (0) 2165/64810</a><br>
            <a href="mailto:restaurant@goldeneranker.at" class="email">restaurant@goldeneranker.at</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/hotels/landgasthaus-marc-aurel.jpg"/>
            <a href="http://www.marcaurel.at" target="_blank"><h5 class="travel-title">Hotel & Landgasthaus Marc Aurel</h5></a>
            <p class="address">A-2404 Petronell-Carnuntum, Hauptstraße 10</p>
            <a href="tel:+43021632285" class="phone">+43 (0) 2163/2285</a><br>
            <a href="mailto:info@marcaurel.at" class="email">info@marcaurel.at</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/hotels/gasthof-heidentor.jpg"/>
            <a href="http://www.gasthof-heidentor.at" target="_blank"><h5 class="travel-title">Gasthof >>Zum Heidentor<<</h5></a>
            <p class="address">A-2404 Petronell-Carnuntum, Hauptstraße 44</p>
            <a href="tel:+43021632201" class="phone">+43 (0) 2163/2201</a><br>
            <a href="mailto:office@gasthof-heidentor.at" class="email">office@gasthof-heidentor.at</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/hotels/gastezimmer-centro.jpg"/>
            <a href="http://www.ilcentro.cc" target="_blank"><h5 class="travel-title">Gästezimmer il centro</h5></a>
            <p class="address">A-2404 Petronell-Carnuntum, Hauptplatz 21</p>
            <a href="tel:+430216343090" class="phone">+43 (0) 2163/43090</a><br>
            <a href="mailto:office@ilcentro.cc" class="email">office@ilcentro.cc</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ HOTELS
  ================================================== -->

  <!-- CAR RENTALS
  ================================================== -->
  <section class="car-rental" id="car-rental">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 section-title text-center">
          <h2>Autovermietung</h2>
        </div>
      </div><!--/ .row-->
      <div class="row">
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/car-rental/europcar.jpg"/>
            <a href="https://www.europcar.com/location/austria/vienna/vienna-airport" target="_blank"><h5 class="travel-title">Europcar</h5></a>
            <p class="address">Car Rental Center, P4, 1300 Vienna, Austria</p>
            <a href="tel:+4318661610" class="phone">+43 1-8661610</a><br>
            <a href="mailto:reservations@europcar.at" class="email">reservations@europcar.at</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/car-rental/autoeurope.jpg"/>
            <a href="http://www.autoeurope.com/go/car-rental/austria/vienna/vienna-international-airport/" target="_blank"><h5 class="travel-title">Auto Europe</h5></a>
            <a href="tel:+18882235555" class="phone">+1 (888) 223-5555</a><br>
            <a href="mailto:reservations@autoeurope.com" class="email">reservations@autoeurope.com</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/car-rental/sixt.jpg"/>
            <a href="http://www.sixt.com/car-rental/austria/vienna/vienna-airport" target="_blank"><h5 class="travel-title">Sixt</h5></a>
            <p class="address">Mietwagenzentrum, Objekt 134, 1300 Wien-Schwchat, Austria</p>
            <a href="tel:+43810977424" class="phone">+43 810-977424</a><br>
            <a href="mailto:reservations-usa@sixt.com" class="email">reservations-usa@sixt.com</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/car-rental/cash4car.jpg"/>
            <a href="http://www.cash4car.co.at/en/index.php" target="_blank"><h5 class="travel-title">Cash 4 Car</h5></a>
            <p class="address">Urban-Loritz-Platz 3, 1070 Wien, Austria</p>
            <a href="tel:+4315226018" class="phone">+43 (1) 522-6018</a><br>
            <a href="mailto:office@cash4car.co.at" class="email">office@cash4car.co.at</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/car-rental/elite.jpg"/>
            <a href="http://www.eliterent.com/" target="_blank"><h5 class="travel-title">Elite Rent-a-Car</h5></a>
            <p class="address">Biberstraße 9, 1010 Wien, Austria</p>
            <a href="tel:+410229098787" class="phone">+41 (0) 22909-8787</a><br>
            <a href="mailto:booking@eliterent.com" class="email">booking@eliterent.com</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/car-rental/avis.jpg"/>
            <a href="http://www.avis.at/avisonline/at-gb/avis.nsf?open&~Default" target="_blank"><h5 class="travel-title">Avis</h5></a>
            <p class="address">Laaer-Berg-Strasse 43, 1100 Wien, Austria</p>
            <a href="tel:+4301601870" class="phone">+43 (0) 1-60187-0</a><br>
            <a href="mailto:customerservice@avis.at" class="email">customerservice@avis.at</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/car-rental/thrifty.jpg"/>
            <a href="http://www.thrifty.com/local/index.aspx?LocationCode=VIE" target="_blank"><h5 class="travel-title">Thrifty</h5></a>
            <a href="tel:+18008474389" class="phone">+1 (800) 847-4389</a><br>
            <a href="mailto:internethelpdesk@thrifty.com" class="email">internethelpdesk@thrifty.com</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
          <div class="travel-item">
          <img class="travel-thumb" src="https://s3-us-west-2.amazonaws.com/dji-games/images/car-rental/nu.jpg"/>
            <a href="http://www.nucarrentals.com/locations/austria_car_rentals.htm" target="_blank"><h5 class="travel-title">NÜ Car Rentals</h5></a>
            <a href="tel:+12102010280" class="phone">+1 (210) 201-0280</a><br>
            <a href="mailto:reservations@nucarrentals.com" class="email">reservations@nucarrentals.com</a>
          </div><!--/ .travel-item-->
        </div><!--/ .col-md-6-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ CAR RENTALS
  ================================================== -->
{% endblock content %}